-r requirements-common.txt

certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
curl_cffi==0.12.0
discord-protos==0.0.2
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
pycparser==2.22
PyYAML==6.0.2
requests==2.32.4
tzlocal==5.3.1
urllib3==2.5.0
uvicorn==0.23.0
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1

discord.py-self @ git+https://github.com/dolfies/discord.py-self.git@7f2e278605a5137e93b7c4a24cdd87e77cbba5c1